$doc-font-family: 'Proxima Nova', sans-serif;
$doc-font-size: 16px;
$doc-font-size-small-devices: 14px;

$container-width: 940px;

$document-bg-color: #eaeef6;
$content-bg-color: #fff;
$primary-color: #202634;
$primary-link-color: #005dfa;
$dark-text-color: #212121;
$medium-text-color: #82899e;
$inactive-icon-color: #c2c9db;
$disabled-icon-color: #dde1ed;
$primary-border-color: #dce0ec;
$active-border-color: #00b241;

html {
	background: $document-bg-color;
	font: $doc-font-size-small-devices $doc-font-family;
	color: $primary-color;
	padding: 1rem .6rem;
}
main {
	max-width: $container-width;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: $primary-link-color;
	cursor: pointer;
}
#list-controls {
	margin-bottom: 1.8rem;
}
h1 {
	font-size: 2.4rem;
	font-weight: bold;
	display: inline;
	
	&+a {
		display: inline-block;
		font-size: .92rem;
		background: $content-bg-color;
		padding: 5px 8px;
		margin-left: 1rem;
		box-shadow: 0px 1px 1px rgba(0,0,0,.09);
		border-radius: 4px;
		position: relative;
		top: -5px;
	}
}
#list-display-controls {
	margin: 1.8rem -3px 0 -3px;
	display: flex;
	text-align: right;
	font-size: 1.2rem;
}
.list-display-control {
	border: 1px solid $primary-border-color;
	border-radius: 6px;
	background: $content-bg-color;
	line-height: 1;
	margin: 0 3px;
	flex: 1;
	text-align: center;
	
	a {
		line-height: 2.4em;
		padding: 0 .6em;
		display: inline-block;
	}
}
.list-display-control.single {
	a {
		color: $dark-text-color;
		width: 100%;
		white-space: nowrap;
	}
	
	i {
		color: $medium-text-color;
		margin-right: 3px;
	}
}
.list-display-control.multi {
	display: flex;
	
	li {
		flex: 1;
		
		&:not(.active) {
			a {
				color: $inactive-icon-color;
			}
		}
		
		i {
			line-height: 2.4em;
		}
	}
}
#contact-list {
	background: $content-bg-color;
	border: 1px solid $primary-border-color;
	border-radius: 4px;
}
.list-item {
	display: flex;
	flex-flow: row wrap;
	padding: 1rem 1rem .8rem;
	align-items: center;
	position: relative;
	
	&:not(:first-child) {
		border-top: 1px solid $primary-border-color;
	}
	
	&:hover {
		.avicon {
			border-color: $active-border-color;
			box-shadow: inset 0px 0px 0px 5px $active-border-color;
		}
	}
}
.glimpse {
	flex-grow: 4;
	flex-shrink: 0;
	
	a {
		display: flex;
		align-items: center;
	}
}
.avicon {
	border: 1px solid $primary-border-color;
	color: $medium-text-color;
	width: 36px;
	text-align: center;
	font-weight: bold;
	margin-right: .6rem;
	border-radius: 100%;
	
	span {
		display: block;
		width: 100%;
		height: 0;
		padding: 50% 0;
		line-height: 0;
	}
}
.name-location {
	h3 {
		font-size: 1.2rem;
		font-weight: 700;
		color: $primary-color;
	}
	
	p {
		font-size: .75rem;
		letter-spacing: .05rem;
		text-transform: uppercase;
		color: $medium-text-color;
		margin-top: .4rem;
	}
}
.list-item-controls {
	text-align: center;
	margin: .65rem 0 0;
	padding-top: .65rem;
	position: relative;
	font-size: 1.3rem;
	flex: 1 100%;
	order: 4;
	
	ul {
		display: flex;
	}
	
	li {
		flex: 1;
		
		>a {
			display: inline-block;
			margin: 0 .25rem;
			width: 32px;
			text-align: center;
		}
		
		>span {
			display: inline-block;
			margin: 0 .25rem;
			width: 32px;
			text-align: center;
			color: $disabled-icon-color;
		}
	}
	
	&:before {
		content: " ";
		overflow: hidden;
		height: 1px;
		position: absolute;
		border-top: 1px dashed $primary-border-color;
		top: 0;
		left: 0;
		right: 0;
		opacity: .5;
	}
	
	i {
		line-height: 32px;
	}
}
.expand {
	color: $medium-text-color;
	flex: 0 0 32px;
	text-align: center;
	font-size: 1.2rem;
	line-height: 32px;
	
	i {
		line-height: 32px;
	}
}


@media only screen and (min-width: 360px) {
    html {
        font-size: $doc-font-size;
        padding: 2rem 1rem;
    }
    .list-item {
        padding: 1.2rem 1.2rem 1rem;
    }
    .avicon {
        width: 48px;
        margin-right: 1.2rem;
    }
}
@media only screen and (min-width: 720px) {
	#list-controls {
		display: flex;
		flex: 0 0 100%;
		align-items: center;
		justify-content: space-between;
	}
	#list-display-controls {
		margin-top: 0;
	}
	.list-display-control {
		flex: 0;
	}
	.list-display-control.multi {
		display: inline-block;
		white-space: nowrap;
		
		li {
			display: inline-block;
			white-space: nowrap;
		}
	}
    .list-item {
        padding-bottom: 1.2rem;
    }
	.avicon {
		width: 64px;
	}
	.name-location {
		h3 {
			font-size: 1.3rem;
		}
		
		p {
			font-size: .85rem;
			letter-spacing: .1rem;
		}
	}
	.list-item-controls {
		text-align: right;
		margin-top: 0;
		padding-top: 0;
		flex: 4 0 200px;
		position: static;
		order: 0;
		
		ul {
			display: block;
		}
		
		li {
			display: inline-block;
		}
	}
    .expand {
        margin-left: 1.5rem;
    }
}

.screen-reader{
    position: absolute;
    top: -9999em;
    left: -9999em;
}